#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: 	#B6BBC4;
  height: 100vh;
  margin: 0;
}
.container {
  width: min(100%, 600px);
  display: flex;
  flex-direction: column;
}


input {
  font-family: inherit;
  padding: 5px;
  font-size: 15px;
  font-weight: 400;   
  border: solid 1px rgba(184, 184, 184, 0.486);
  border-radius: 5px;


}

input:focus {
  outline: solid #3886beaf 1.5px;
  border-color: transparent;
}

.tasks-container {
  
}